@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nate's Project</h1>
    <p class="lead">I tried my best for this project.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Trash collector project is a project were a user could be a customer or employee. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What a Customer can do here.</h2>
        <p>A customer can register and pick up their date for pick up and see their bill.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What an Employee can do on this site.</h2>
        <p>
            </p>While, a employee can see which customers need their trash picked up that day and charge them accordingly.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>